<ng-container>
    <div class="row">
        <div class="col-9">
            <div class="">
                <h3>Chat Room - {{ roomName }}</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="col">
                <h3>Members:</h3>
            </div>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-9">
            <div class="row h-100">
                <div class="col">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Room Id</mat-label>
                        <input matInput type="text" [ngModel]="roomId" readonly
                            matTooltip="Share this to others if you want them to join">
                    </mat-form-field>
                    <div class="mb-2 w-100 d-flex justify-content-end">
                        <button mat-raised-button class="m-2" (click)="disconnectRoom()">Disconnect</button>
                        <button mat-raised-button class="m-2" (click)="scrollToBottom()" *ngIf="hasNewMessages">Scroll
                            to new messages</button>
                    </div>
                    <!-- messages  -->
                    <cdk-virtual-scroll-viewport #virtualScroll [itemSize]="80" [maxBufferPx]="800" class="w-100"
                        style="height: 500px;">
                        <div *cdkVirtualFor="let msg of messages;">
                            <div class="rounded m-1">
                                <div class="row">
                                    <div class="col">
                                        <div *ngIf="!sentByCurrUser(msg)">
                                            <span class="pl-2" style="font-size: 1.01rem;">{{msg.sender}}:</span>
                                            <p class="label label-md bg-info p-2 rounded" style="color:white;">
                                                {{msg.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col">
                                        <p *ngIf="sentByCurrUser(msg)" class="label label-md bg-success p-2 rounded"
                                            style="color:white; word-break: break-all;">
                                            {{msg.message}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Message:</mat-label>
                        <input matInput type="text" [(ngModel)]="currMsg" (keyup)="msgInputKeyPressed($event)"
                            [maxLength]="100">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-3">
            <cdk-virtual-scroll-viewport #virtualScroll [itemSize]="20" [maxBufferPx]="200" class="w-100"
                style="height: 500px;">
                <mat-card *cdkVirtualFor="let m of members">
                    <span class="list-group-item">{{m.username}}</span>
                </mat-card>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</ng-container>