<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TRACED_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - [TRACE_ID:%X{traceId}] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.curtisnewbie.service.chat" additivity="false">
    <appender-ref ref="TRACED_STDOUT"/>
  </logger>

  <logger name="com.curtisnewbie.module.auth.config" additivity="false">
    <appender-ref ref="TRACED_STDOUT"/>
  </logger>

  <logger name="com.curtisnewbie.module.auth.config.CorsConfigImpl" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.curtisnewbie.module.auth.config.AuthenticationSuccessHandlerDelegate" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.curtisnewbie.module.auth.config.AuthenticationFailureHandlerDelegate" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>