<ng-container>
    <h3>Room List</h3>
    <div class="mt-2">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Name:</mat-label>
            <input matInput type="text" [(ngModel)]="newRoomParam.roomName">
            <button matSuffix type="button" class="close" aria-label="Close" *ngIf="newRoomParam.roomName"
                (click)="newRoomParam.roomName = '';">
                <span aria-hidden="true">&times;</span>
            </button>
        </mat-form-field>
        <div class="d-flex justify-content-between">
            <mat-form-field appearance="fill" class="mt-2 mb-2">
                <mat-label>Room Type</mat-label>
                <mat-select (valueChange)="newRoomParam.roomType = $event.value" [(value)]="newRoomParam.roomType">
                    <mat-option [value]="option.value" *ngFor="let option of ROOM_TYPE_OPTIONS">
                        {{option.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="mt-2 mb-2">
                <button mat-raised-button (click)="createRoom()">Create
                    Room</button>
            </div>
        </div>
        <div class="mt-2">
            <h4>Public Rooms:</h4>
            <div class="d-flex justify-content-end m-2">
                <button mat-raised-button class="m-2" (click)="fetchPublicRoomList()">Fetch</button>
            </div>
            <div class="mt-2">
                <div *ngFor="let r of rooms" class="list-group">
                    <mat-card class="list-group-item" (click)="connectRoom(r)" matTooltip="click to connect">
                        <p>Room: {{r.roomName}}</p>
                        <p>Created by: {{r.createdBy}}</p>
                    </mat-card>
                </div>
            </div>
            <mat-paginator [length]="pagingController.paging.total" [pageSize]="pagingController.paging.limit"
                [pageSizeOptions]="pagingController.PAGE_LIMIT_OPTIONS" (page)="handle($event)"
                aria-label="Select page">
            </mat-paginator>
        </div>

    </div>
</ng-container>